<!DOCTYPE html>

<html lang="en">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="/static/main.js" defer></script>
    <title>Route planner</title>
</head>
<body>
<div class="container">
    <form method="POST" id="search-form">
        <label for="destination">Destination</label>
        <input id="destination" name="destination" type="text" autocomplete="off" autofocus
               value="{{ request.form['destination'] }}">
        <button type="submit">Submit</button>
    </form>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
</div>
{{ map | safe }}
</body>
</html>

