<!DOCTYPE html>

<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <script src="/static/main.js" defer></script>
    <script src="/static/button.js" defer></script>

    <title>Route planner</title>
</head>
<body>
<div class="container">
    <form method="POST" id="search-form">
        <input id="destination" name="destination" type="text" placeholder="Enter Destination" autocomplete="off"
               autofocus
               value="{{ request.form['destination'] }}">
        <input type="button" class="btn btn-primary btn-lg" style="font-size:15px"
               onclick="myFunction()" value="Submit">


        <div class="btn-toolbar title" style="margin-left: 0.5em">Route options</div>
        <div class="btn-toolbar" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="button_avoid_traffic" autocomplete="off"
                   name="avoid_traffic">
            <label class="btn btn-outline-dark" for="button_avoid_traffic" style="margin: 0.5em">Avoid Traffic</label>

            <input type="checkbox" class="btn-check" id="button_avoid_crowd" autocomplete="off"
                   name="avoid_crowd">
            <label class="btn btn-outline-dark" for="button_avoid_crowd" style="margin: 0.5em">Avoid Crowds</label>

            <input type="checkbox" class="btn-check" id="button_avoid_low_walkability" autocomplete="off"
                   name="avoid_low_walkability">
            <label class="btn btn-outline-dark" for="button_avoid_low_walkability"
                   style="margin: 0.5em">Walkability</label>

            <input type="checkbox" class="btn-check" id="button_avoid_low_accessibility" autocomplete="off"
                   name="avoid_low_accessibility">
            <label class="btn btn-outline-dark" for="button_avoid_low_accessibility" style="margin: 0.5em">Wheelchair
                Access</label>
        </div>

    </form>

    <p class="info"></p>
    <!-- <form method="POST" id="search-form">
        <label for="destination">Destination</label>
        <input id="destination" name="destination" type="text" autocomplete="off" autofocus
               name="destination'] }}">
        <button type="submit">Submit</button>
    </form> -->
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
</div>

{{ map | safe }}
</body>
</html>
